:root{
  --green: #00BAA5;
  --button-color: #007C6E;
  --text-primary: #2A2A2A;
  --text-second: #A8A8B3;
  --border: #A8A8B3;
  --text-highlight: #FFF;
  --input-color: #000;
  --gray-light: #DBDCDD;

  --danger: #E73F5D;
  --border-details: #a8a8b3;
  --background-primary: #F8F8F8;
  --background-second: #FFF;
  --background-question: #FEFEFE;
}

:root.dark {
  --green: #007C6E;
  --button-color: #004646;
  --text-primary: #F8F8F8;
  --text-second: #737380;
  --border: #737380;
  --text-highlight: #000;
  --input-color: #FFF;
  --gray-light: #505050;

  --danger: #8a0e24;
  --border-details: #a8a8b3;
  --background-primary: #2A2A2A;
  --background-second: #1F1F1F;
  --background-question: #1F1F1F;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-primary);
  color: var(--text-primary);
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}
