:root{
  --green: #9AAE04;
  --button-color: #327A6D;
  --font-primary-color: #29292E;
  --font-second-color: #737380;
  --background: #F8F8F8;
  --white: #FFF;
  --background-button: #FFF;
  --gray-light: #DBDCDD;

  --content: #f8f8f8;
  --gray: #737380;
  --pink: #E559F9;
  --danger: #E73F5D;
  --border-details: #a8a8b3;




  --text: #29292E;

  --border: #e2e2e2;

  --primary-color: #fff;
  --secondary-color: #000;

  --overlay: #050206CC;
  --background-modal: #fff;

  --background-container: #fefefe;
  --background-question-highlighted: #F4F0FF;
  --background-question-answered: #DBDCDD;
}

:root.dark {
  --green: #809004;

  --background: #0C0E00;

  --background-button: #090a00;


  --text: #f8f8f8;
  --content: #B8B8B8;
  --gray: #737380;
  --gray-light: #DBDCDD;
  --pink: #aa1bec;
  --red: #8a0e24;
  --white: #fff;

  --border: #575454;
  --border-details: #555555;

  --primary-color: #000;
  --secondary-color: #fff;

  --overlay: #050206CC;
  --background-modal: #000;

  --background-container: #131213;
  --background-question-highlighted: #222454;
  --background-question-answered: #222333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}
