#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    // flex: 7;
    width: 48%;
    background: var(--green);
    color: var(--text-highlight);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px 80px 80px;

    div {
      width: 100%;
      max-width: 500px;

      
      img {
        width: 100%;
        height: auto;
      }
    }

    strong, p {
      max-width: 600px;
      // text-align: center;
    }

    strong {
      font: 700 3.6rem 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font: 400 2.4rem 'Roboto', sans-serif;
      // font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: var(--background-primary);
    }

  }

  main {
    // flex: 8;
    width: 52%;

    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--background-primary);
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
      padding-bottom: 64px;

    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        padding-right: 24px;
        color: var(--text-second);
      }
    }

    form {
      input {
        height: 50px;
        border-radius: 5px;
        padding: 0 16px;
        border: 1px solid var(--border);
        color: var(--input-color);
        background: var(--background-button);
      }
      button {
        margin-top: 16px;
      }

      input, button {
        width: 100%;
      }
    }

  }

  .create-room-google {
    margin-top: 16px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    transition: filter 0.2s;

    >img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(90%);
    }
  }

  .separetor {
    font-size: 1.4rem;
    color: var(--border);

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--border);
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--border);
      margin-left: 16px;
    }
  }
}

@media only screen and (max-width: 1116px) {
  #page-auth {
    
    aside{
      padding: 0px 40px 40px;


      strong {
        font-size: 3.2rem;
        text-align: center;
      }

      p {
        font-size: 2rem;
        text-align: center;

      }
    }
  }
}

@media only screen and (max-width: 740px) {
  #page-auth {
    flex-direction: column;
    overflow: scroll;
    scroll-snap-type: y mandatory;

    aside {
      display: flex;
      width: 100%;
      min-height: 100vh;
      padding: 0px 10% 20%;
      scroll-snap-align: start;
    }

    main {
      width: 100%;
      min-height: 100vh;
      scroll-snap-align: center;
    }
  }
}
