#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;
    background: var(--purple);
    color: var(--content);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: var(--content);
    }

  }

  main {
    flex: 8;

    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--background);
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
      color: red;
    }

    form {
      input {
        height: 50px;
        border-radius: 5px;
        padding: 0 16px;
        border: 1px solid var(--border-details);
      }
      button {
        margin-top: 16px;
      }

      input, button {
        width: 100%;
      }
    }

  }

  .create-room-github {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #24292e;
    // color: var(--primary-color);
    color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    transition: filter 0.2s;

    >img {
      margin-right: 8px;
      width: 32px;
      height: 32px;
    }

    &:hover {
      filter: brightness(90%);
    }
  }

  .create-room-google {
    margin-top: 16px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    transition: filter 0.2s;

    >img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(90%);
    }
  }

  .separetor {
    font-size: 14px;
    color: var(--border-details);

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--border-details);
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--border-details);
      margin-left: 16px;
    }
  }
}
