#page-room {
  header {
    padding: 24px;
    border-bottom: 1px solid var(--gray-light);

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;

      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
   
      .title{
        margin: 32px 0 24px;
        display: flex;
        align-items: center;

        h1 {
          font-family: 'Poppins', sans-serif;
          font-size: 24px;
          color: var(--text-primary);
        }
  
        span {
          margin-left: 16px;
          background: #FFB700;
          border-radius: 99999px;
          padding: 8px 16px;
          color: var(--text-highlight);
          font-weight: 500;
          font-size: 14px;
        }
      }


    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: var(--background-question);
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        color: var(--input-color);
        resize: vertical;
        min-height: 130px;
      }

      .form-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          span {
            margin-left: 8px;
            color: var(--text-primary);
            font-weight: 500;
            font-size: 14px;
          }
        }

        > span {
          font-size: 14px;
          color: var(--text-second);
          font-weight: 500;

          button {
            background: none;
            border: none;
            color: var(--green);
            text-decoration: underline;
            font-size: 14px;
          }
        }
      }
    }

    .separetor {
      font-size: 14px;
      color: var(--border);
  
      margin: 32px 0;
      display: flex;
      align-items: center;
  
      &::before {
        content: '';
        flex: 1;
        height: 1px;
        background: var(--border);
        margin-right: 16px;
      }
  
      &::after {
        content: '';
        flex: 1;
        height: 1px;
        background: var(--border);
        margin-left: 16px;
      }
    }

    .questions-list {
      margin-top: 32px;
    }

    .nothing-found {
      display: flex;
      margin-top: 64px;
      align-content: center;
      justify-content: center;
      flex-direction: column;
  
      h2 {
        margin: auto;
      }
  
      img {
        width: 50%;
        margin: auto
  
      }
  
      span {
        margin: 8px auto 64px;
        max-width: 400px;
        text-align: center;
        color: var(--text-second);
      }
    }
  }
}
