.question {
  background: var(--background-question);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba($color: #000000, $alpha: 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background-color: var(--question-highlighted);
    border: 1px solid var(--button-color);

    .user-info span {
      color: var(--text-primary)
    }

    .highlighted-icon {
      color: var(--green)
    }
  }

  &.answered {
    background-color: var(--question-answered);

    .answered-icon {
      color: var(--green)
    }
  }

  p {
    color: var(--text-primary)
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      gap: 8px;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 2px;
        color: var(--text-second);
        font-weight: 500;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;

      transition: filter 0.2s;

       svg {
         color: var(--text-second);
       }

      &:hover {
        filter: brightness(0.7);
      }

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--text-second)
      }

      &.liked {
        color: var(--green);
        svg {
          margin-left: 8px;
          color: var(--green);
        }
      }



      // svg {
      //   margin-left: 16px;
      // }
    }
  }
}