.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: var(--background);
  border: 1px solid var(--green);

  display: flex;

  div {
    background: var(--green);
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  span {
    display: block;
    align-items: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 220px;
    font-size: 12px;
    font-weight: 500;
    // height: 100%;
    margin: auto 0;

    color: var(--font-primary-color);
  }

}
