#page-rooms {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background: var(--green);
    color: var(--text-highlight);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0px 80px 80px;

    img {
      // max-width: 320px;
      width: 440px;
      height: auto;
    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: var(--background-primary);
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--background-primary);
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
      margin-bottom: 24px;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        padding-right: 24px;
        color: var(--text-second);
      }
    }

    h2 {
      font-size: 24px;
      margin: 24px 0 ;
      font-family: 'Poppins', sans-serif;
      color: var(--text-primary);
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        border: 1px solid var(--border);
        color: var(--input-color);
        background: var(--background-second);
      }

      button {
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color: var(--text-second);
      margin-top: 16px;

      a {
        color: #FFB700;
      }
    }
  }
}
