label {
  display: inline-block;
  width: 60px;
  height: 32px;

  position: absolute;
  top: 16px;
  right: 16px;


  input {
    display: none;
  }

  .slider {
    background: var(--background-question-answered);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    transition: .4s;

    &::before {
      content: "";
      bottom: 4px;
      height: 24px;
      left: 4px;
      position: absolute;
      width: 24px;

      background: url('../../assets/images/sun-fill.svg') no-repeat center center;
      background-color: var(--primary-color);

      transition: .4s;
    }
  }

  input:checked + .slider {
    background-color: var(--background-question-answered);
  }

  input:checked + .slider:before {
    background: url('../../assets/images/moon-fill.svg') no-repeat center center;
    background-color: var(--background);


    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
